<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="poolup.penguins.chocolate.com.poolup" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--
         The following two permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/car_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="poolup.penguins.chocolate.com.poolup" />
            </intent-filter>
        </receiver>
        <service android:name=".GcmIntentService" />
        <activity
            android:name=".Launcher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".CreatePoolActivity"
            android:label="@string/title_activity_create_pool" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBsMyjg98cEs17hBRuAPYJ5nJbGd8srRfY" />

        <activity
            android:name=".MatchingRoutesActivity"
            android:label="@string/title_activity_matching_routes" >
        </activity>
        <activity
            android:name=".MatchingPoolsActivity"
            android:label="@string/title_activity_matching_pools" >
        </activity>
        <activity
            android:name=".SearchPoolActivity"
            android:label="@string/title_activity_search_pool" >
        </activity>
    </application>

    <permission
        android:name="poolup.penguins.chocolate.com.poolup.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="poolup.penguins.chocolate.com.poolup.permission.C2D_MESSAGE" />

</manifest>
